<a href="https://colab.research.google.com/github/kvan493/BART_project/blob/master/BART_model_eval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.tree import ExtraTreeRegressor

In [2]:
infile = open('dataframe', 'rb')
df = pickle.load(infile)
infile.close()

In [3]:
df.head()

   Origin  Destination  Throughput  ...  Dest_City  WeekDay  Distance
0       0            0           1  ...          0        4  0.000000
1       0            1           1  ...          1        4  0.153214
2       0            3           4  ...          1        4  0.155404
3       0            4           4  ...          2        4  0.049055
4       0            5           2  ...          1        4  0.194293

[5 rows x 8 columns]

In [4]:
#Splitting target from the rest of the data set
y,x = df['Throughput'], df.drop('Throughput', axis = 1)

In [5]:
#Splitting 20% of data set for test set from the training set
#x_train_all, x_test, y_train_all, y_test = train_test_split(x, y, test_size = 0.2, random_state = 10)

In [6]:
#Splitting 20% of the remaining training set for validation set
x_train, x_val, y_train, y_val = train_test_split(x, y, test_size = 0.2, random_state = 42)

In [7]:
GBR = GradientBoostingRegressor()
RFR = RandomForestRegressor()
ETR = ExtraTreeRegressor()

In [12]:
#Making predictions
algorithms = [ETR]
reg_type = ['ETR']

def regressions():
    RMSE = []
    R2 = []
    y_pred = []
    
    for i in range(len(algorithms)):
        y_pred = (algorithms[i].fit(x_train, y_train).predict(x_val))
        RMSE.append((mean_squared_error(y_val, y_pred))**0.5)
        R2.append(r2_score(y_val, y_pred)) 

    metrics = pd.DataFrame(columns = ['RMSE', 'R2'], index = reg_type)
    metrics['RMSE'] = RMSE
    metrics['R2'] = R2  
    return metrics

In [13]:
regressions()

          RMSE        R2
ETR  23.052815  0.532883